[Desktop Entry]
Type=Application
Version=1.5
Name=Repadio
Comment=Audio and video player built with Repose
Categories=Audio;AudioVideo;Player;
Keywords=audio;video;player;music;repose;symphonia;cpal;
Exec=repadio %F
Icon=io.github.mlm_games.repadio
Terminal=false
StartupNotify=true
StartupWMClass=repadio
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/x-wav;audio/mp4;audio/aac;video/mp4;video/webm;video/x-matroska;video/quicktime;
